.BBB{
	font-size: 70px;
	color: red;
	font-style: italic;
}
.UUU{
	font-size: 70px;
	color: red;
	font-style: italic;
}
body{
	 font-family: Arial, sans-serif;
	  background-color:white;

}
.policennn{
	font-family:'segeo UI'Tahoma,verdana,sans-serif:;
}
 .QQQ{
 	font-size: 30px;
 	color: white;
 	font-style: italic;
 	background-color: black;
 }
.MMM{
	font-size: 60px;
	background-color: ;
}
 footer{
 	background-color: black;
 	color: white;
 	text-align: center;
 }